.bienvenida{
    margin-top: 50px;
    margin-left: 80px;
    font-family:cursive
}


.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px auto;
    background-color:yellowgreen;
border-radius:1.5em;


}

.card{
    box-shadow: 0 0 5px 5px #b3b090;
    position: absolute;
    margin: 2em;
    width: 260px;
}

.card:hover{
  background-color: #9094B3;
      border: whitesmoke 0.1em solid;
    cursor: pointer;
    transition: .2s;

} 
.container img{
    padding: 10px;
    background-color: #9094B3;
    margin: 2em;
object-fit: contain;
    
}

.container p{
    padding: 10px 0;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    font-family:cursive;
    /* background-color:gray; */
}