.bienvenida{
    margin-top: 50px;
    margin-left: 80px;
    /* border: 2px 2px black; */
}


.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px auto;
    background-color:aquamarine;


}

.card{
    box-shadow: 0 0 5px 5px #9094B3;
    position: absolute;
    margin: 2em;
  
}
.card:hover{
  background-color: #9094B3;
      border: whitesmoke 0.1em solid;
    cursor: pointer;
    transition: .2s;

} 
.container img{
    padding: 15px;
    background-color: #9094B3;
    margin: 2em;
object-fit: contain;
    
}

.container p{
    padding: 10px 0;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}